<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
      <ol>
        {% for student, grades in st_list %}
          <li>
            {{ student }}
            <ul>
              {% for key, val in grades.items() %}
                <li>{{ key }} - {{ val }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
        <ol>
          {% for student, grades in st_list %}
          <ul>
            {% for key, val in grades.items() %}
              <li>
                {{ loop.index }}
                 {{ key }} - {{ val }}
              </li>
            {% else %}
              <li>No grades</li>
            {% endfor %}
          </ul>
          {% endfor %}
    </body>
    
</html>