<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <ol>
          {% for moves in movies %}
          <ul>
            {% for key, val in moves.items() %}
              <li>
                {{ loop.index }}
                 {{ key }} - {{ val }}
              </li>
            {% else %}
              <li>I dont like moves</li>
            {% endfor %}
          </ul>
          {% endfor %}
    </body>
    
</html>